
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_layoutC.cshtml";
}

<h3 class="alert alert-success">Chúc mừng bạn đã mua hàng thành công, nhân viên tư vấn sẽ gọi lại cho bạn trong thời gian ngắn nhất</h3>

