@model List<Model.EF.Menu>

<div class="account_desc">
    <ul>
        @foreach (var item in Model)
        {
            var url = "/"+ item.Link + "-" + item.ID;
            <li><a href="@url">@item.Text</a></li>
        }
    </ul>
</div>